// resets

//check out the link /* https://piccalil.li/blog/a-modern-css-reset/ */


*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body,
h1,
h2,
h3, 
h4, 
h5, 
h6,
p,
picture,
figure{
    padding: 0;
    margin: 0;
}

// set up the body
body {
    line-height: 1.5;
    min-height: 100vh;
}

// make the images easier to work with
img,
picture {
    max-width: 100%;
    display: block;
}

//make forms easier to work with
input,
button,
textarea,
select {
    font: inherit;
}

//remove animations for people who've turned them off 

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms!important;
        animation-iteration-count:1!important;
        transition-duration: 0.01ms!important;
        scroll-behavior: auto!important;
    }
}