// resets

//check out the link /* https://piccalil.li/blog/a-modern-css-reset/ */


*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body,
h1,
h2,
h3, 
h4, 
h5, 
h6,
p,
picture,
figure{
    padding: 0;
    margin: 0;
}

h1,
h2,
h3, 
h4, 
h5, 
h6,
p {
    font-weight: 400;
}

// set up the body
body { 
    font-family: $ff-sans-normal;
    font-size: $fs-400;
    color: $clr-white;
    background-color: $clr-dark;
    line-height: 1.5; 
    min-height: 100vh;
}

// make the images easier to work with
img,
picture {
    max-width: 100%;
    display: block;
}

//make forms easier to work with
input,
button,
textarea,
select {
    font: inherit;
}


.flex {
    display: flex;
    //gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    //gap: var(--gap, 1rem);
}

.flow > * + * {
    margin: var(--flow-space, 1rem);
    outline: 1px solid red;
}

//.flow > *:not(:first-child) {
//margin-top: 1rem;
//outline: 1px solid red;
//}


.container {
    padding: 0 2em;
    max-width: 80rem;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

//remove animations for people who've turned them off 

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms!important;
        animation-iteration-count:1!important;
        transition-duration: 0.01ms!important;
        scroll-behavior: auto!important;
    }
}

//colors

.bg-dark {background-color: $clr-dark;}
.bg-accent {background-color: $clr-light;}
.bg-white {background-color: $clr-white;}

.text-dark {color: $clr-dark;}
.text-accent {color: $clr-light;}
.text-white {color: $clr-white;}

//letter spacing

.uppercase {text-transform: uppercase;}

.letter-spacing-1 {letter-spacing:4.75px;}
.letter-spacing-2 {letter-spacing:2.7px;}
.letter-spacing-3 {letter-spacing:2.35px;}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
    font-family: $ff-sans-cond;
    font-size: $fs-500;
    letter-spacing: 4.72px;
    text-transform: uppercase;
    color: $clr-dark;

    .span {
        margin-right: .5em;
        font-weight: 700;
    }
}

//components


.large-button {
    padding: 0 2em;
    display: grid;
    aspect-ratio: 1;
    place-items: center;
    text-decoration: none;
    border-radius: 50%;
}