

//utility classes 

$clr-dark: 230 35% 7%;
$clr-light: 231 77% 90%;
$clr-white: 0 0% 100%;


//font sizes

$fs-900: 9.375rem;
$fs-800: 6.25rem;
$fs-600: 2rem;
$fs-700: 3.5rem;
$fs-500: 1.75rem;
$fs-400: 1.125rem;
$fs-300: 1rem;
$fs-200: 0.875rem;

//font fammilies

$ff-serif:"Bellefair", serif;
$ff-sans-cond: "Barlow condensed", sans-serif;
$ff-sans-normal: "Barlow", sans-serif;

//flow-space 

//  https://stackoverflow.com/questions/29804080/using-a-sass-variable-mapped-to-an-hsl-value-doesnt-work-when-trying-to-use-it

@function hsla($color, $alpha) {
    @if(type-of($color) == 'color') {
        @return hsla(hue($color), saturation($color), lightness($color), $alpha)
    }
}